*{
        padding: 0;
        margin: 0;
}
.navbar {
        position: relative;
    z-index: 1000; /* Atur angka yang lebih rendah dari z-index konten di belakangnya */
}

.banner{
        padding-top: 60px;
}
.card-img-top {
        object-fit: cover;
        height: 300px; /* Sesuaikan tinggi gambar sesuai kebutuhan Anda */
    }